@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "Jakarta Sans";
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-variant: 100 900;
    font-display: swap;
}

*{
    font-family: "Jakarta Sans";
}

@media print {
  body {
    background: white !important;
  }

  /* Only show the receipt */
  #receipt {
    width: 100%;
    margin: 0 auto;
    page-break-after: always;
  }

  /* Hide everything except the receipt */
  body * {
    visibility: hidden;
  }
  
  #receipt, #receipt * {
    visibility: visible;
  }
}

@theme {
  --color-main: #F9F9F9;
  --color-main-white: #FFFFFF;
  --color-main-dark: #D8D8D8;

  --color-gray-light: #C9C9C9;
  --color-gray: #A9A9A9;
  --color-gray-dark: #818089;

  --color-dark: #030213;
  --color-dark-light: #D2D2D2;

  --color-accent: #B18053; /* also applicable for text accents */
  --color-accent-dark: #53311F; 
  --color-accent-mute: #B9A395;
  --color-accent-text: #A47551;

  --color-text: #000000;
  --color-text-light: #4A5565;

  --color-border: #D5D5D5;

  /* Utilities */
  --color-error: #E7000B;
  --color-error-border: #FFC9C9;
  --color-error-fill: #FEF2F2;
  --color-error-text: #82181A;

  --color-success: #00A63E;
  --color-success-border: #B9F8CF;
  --color-success-fill: #F0FDF4;
  --color-success-text: #0D542B;

  --color-warning: #FFBB00;
  --color-warning-border: #F6F2D1;
  --color-warning-fill: #F6F2D1;
  --color-warning-text: #FFBB00;

  --color-none: #878787;
  --color-none-border: #D7D7D7;
  --color-none-fill: #D7D7D7;
  --color-none-text: #878787;

  --color-missing: #F0A044;
  --color-missing-border: #F0DBCE;
  --color-missing-fill: #F0DBCE;
  --color-missing-text: #F0A044;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-main-dark);
    border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

/* @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: var(--color-accent-mute);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
} */
